{% extends "wally/base_wally.html" %}
{% load i18n %}

{% block main %}
    {% trans "selected value remembered" as saved_in_session_text %}
    <form id="js_searchform" action="{% url 'wally:find' %}" method="get">
        {% block search_type %}

        {% endblock %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-12">

                        <div class="row">
                            <div class='col-md-6 col-lg-7'>
                                <div class="form-group">
                                    {% comment %}Translators: placeholder of search-box{% endcomment %}
                                    <input type="text" class="form-control" name="query" class="fulltext" id="query"
                                           placeholder="{% trans "Full-text search" %}"/>
                                </div>
                            </div>
                            <div class='col-md-2 col-lg-2'>
                                <button type="submit" class="btn btn-primary">{% trans "Search" %}</button>
                                <span class="glyphicon glyphicon-info-sign text-info js_info_query_syntax_toggle"></span>
                            </div>
                            <div class='col-md-4 col-lg-3'>
                                {% block search_form_checkboxes %}

                                {% endblock %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-lg-12">
                        <div class="alert alert-info js_info_query_syntax collapse" role="alert">
                            <div class="row">
                                <div class="col-md-6 col-lg-7">
                                    {% trans 'You can use the Simple Query String Syntax:' %} <a
                                        href="https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-simple-query-string-query.html#_simple_query_string_syntax">{% trans 'More info' %}</a>

                                    <pre>+ signifies AND operation
| signifies OR operation
" wraps a number of tokens to signify a phrase for searching
* at the end of a term signifies a prefix query
( and ) signify precedence
~N after a word signifies edit distance (fuzziness)
~N after a phrase signifies slop amount</pre>
                                    <!--Problem with mail, ok in IRC: - negates a single token -> 京都大学 -東京-->
                                </div>
                                <div class="col-md-6 col-lg-5">
                                    {% trans 'Examples:' %}
                                    <pre>京都大学 + "東京大学" + kit
"BUG 5509"
BU* 5509
"BEG~1 5509"
"(review|bug) 5509"
大学 +(東京|京都)
九大 +takako</pre>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-9 col-lg-7">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class='col-md-5'>
                                    <div class="form-group">
                                        <label for="use_sliding_value">{% trans "Date filter mode" %}</label>
                                        <div class="input-group">
                                            <select class="form-control" id="use_sliding_value"
                                                    name="use_sliding_value">
                                                <option value="1"
                                                        selected="selected">{% trans "Within past duration" %}</option>
                                                <option value="0">{% trans "Fixed date" %}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class='js_date_sliding_value collapse col-md-7'>
                                    <div class="form-group row">
                                        <div class="col-md-6">
                                            <label for="date_sliding_value">{% trans "Within the past" %}</label>
{#                                            <span class="glyphicon glyphicon-cloud saved-session"#}
{#                                                  title="{{ saved_in_session_text }}"></span>#}
                                            <div class="input-group">
                                                <input type="text" class="form-control" id="date_sliding_value"
                                                       name="date_sliding_value"
                                                       value="{{ date_sliding_value }}">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <label for="date_sliding_type">{% trans "Duration type" %}</label>
{#                                            <span class="glyphicon glyphicon-cloud saved-session"#}
{#                                                  title="{{ saved_in_session_text }}"></span>#}
                                            <div class="input-group">
                                                <select class="form-control" id="date_sliding_type"
                                                        name="date_sliding_type">
                                                    <option value="y" {% if date_sliding_type == 'y' %}
                                                            selected="selected"{% endif %}>{% trans "Years" %}</option>
                                                    <option value="M" {% if date_sliding_type == 'M' %}
                                                            selected="selected"{% endif %}>{% trans "Months" %}</option>
                                                    <option value="d" {% if date_sliding_type == 'd' %}
                                                            selected="selected"{% endif %}>{% trans "Days" %}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% trans "JST time" as jsttime %}
                                <div class='js_date_fixed collapse col-md-9'>
                                    <div class="form-group row">
                                        <div class="col-md-6">
                                            <label for="from">{% trans "From" context "datetime" %}</label>
                                            - {{ jsttime }}
                                            <div class='input-group date' id='datetimepicker-from'>
                                                <input type='text' class="form-control" name="from"
                                                       placeholder="2012/11/01 00:00"/>
                                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <label for="to">{% trans "To" context "datetime" %}</label>
                                            - {{ jsttime }}
                                            <div class='input-group date' id='datetimepicker-to'>
                                                <input type='text' class="form-control" name="to"
                                                       placeholder="2016/10/31 12:18"/>
                                                <!--type="datetime-local"-->
                                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-lg-2" style="display: none;">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="form-group">
                                    <label for="number_results">{% trans "Number tot results" %}</label>
                                    <div class="input-group">
                                        <select class="form-control" id="number_results"
                                                name="number_results">
                                            <option value="10">10</option>
                                            <option value="15">15</option>
                                            <option value="20">20</option>
                                            <option value="25">25</option>
                                            <option value="50">50</option>
                                            <option value="100" selected="selected">100</option>
                                            <option value="300">300</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-lg-3">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="form-group">
                                    <div class="form-group row">
                                        <div class="col-md-6">
                                            <label for="sort_field">{% trans "Sort" %}</label>
{#                                            <span class="glyphicon glyphicon-cloud saved-session"#}
{#                                                  title="{{ saved_in_session_text }}"></span>#}
                                            <div class="input-group">
                                                <select class="form-control" id="sort_field"
                                                        name="sort_field">
                                                    {% block search_form_sort_fields_options %}

                                                    {% endblock %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <label for="sort_dir">{% trans "Direction" %}</label>
{#                                            <span class="glyphicon glyphicon-cloud saved-session"#}
{#                                                  title="{{ saved_in_session_text }}"></span>#}
                                            <select class="form-control" id="sort_dir"
                                                    name="sort_dir">
                                                <option value="" {% if sort_dir == '' %}
                                                        selected="selected"{% endif %}>{% trans "Asc" %}</option>
                                                <option value="-" {% if sort_dir == '-' %}
                                                        selected="selected"{% endif %}>{% trans "Desc" %}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    {% block search_form_additional %}

                    {% endblock %}
                </div>
            </div>
        </div>
    </form>

    <div id="js_result">

    </div>
{% endblock %}
