{% extends "wally/base_results.html" %}
{% load i18n %}

{% block table_element %}
    <table class="table table-striped-custom table-condensed js_result_table_detail">
{% endblock %}

{% block col_header %}
    <th class="text-nowrap">{% trans "Channel" %}</th>
    <th class="text-nowrap">{% trans "Sent (JST)" %}</th>
    <th class="text-nowrap">{% trans "Username" %}</th>
    <th class="text-nowrap">{% trans "Message" %}</th>
{% endblock %}

{% block col_data %}
    <td class="text-nowrap">
        {% if hit.meta.highlight.channel.0 %}
            {{ hit.meta.highlight.channel.0|safe }}
        {% else %}
            {{ hit.channel }}
        {% endif %}
    </td>
    <td class="text-nowrap">
            {{ hit.sent|date:"Y/m/d H:i" }}
    </td>
    <td class="text-nowrap">
        {% if hit.meta.highlight.username.0 %}
            {{ hit.meta.highlight.username.0|safe }}
        {% else %}
            {{ hit.username }}
        {% endif %}
    </td>
    <td>
        <span>
            {% if hit.meta.highlight.msg.0 %}
                {{ hit.meta.highlight.msg.0|safe }}
            {% else %}
                {{ hit.msg }}
            {% endif %}
        </span>
        <span style="display: none">{{ hit.meta.id }}</span>
    </td>
{% endblock %}

{% block no_data %}
    <span class="">{% trans "No irc logs found" %}</span>
{% endblock %}
