{% extends "wally/base_results.html" %}
{% load i18n %}

{% block col_header %}
    <th></th>
    <th class="text-nowrap">{% trans "Channel" %}</th>
    <th class="text-nowrap">{% trans "Sent (JST)" %}</th>
    <th class="text-nowrap">{% trans "Username" %}</th>
    <th class="text-nowrap">{% trans "Message" %}</th>
    <th class="text-nowrap text-right">{% trans "Score" %}</th>
{% endblock %}

{% block col_data %}
    <td class="details-control">
        <form class="js_loadpopoverontent_form" data-function-module="irc" action="{% url 'wally:detail_irc' %}" method="get">
            <input type="hidden" name="origin_timestamp" value="{{ hit.timestamp_raw }}"/>
            <input type="hidden" name="channel" value="{{ hit.channel }}"/>
            <input type="hidden" name="query" value="{{ query }}"/>
        </form>
        <span class="js_submit-span glyphicon glyphicon-plus" title="{% trans "View IRC log" %}"></span>
        <span class="glyphicon glyphicon-minus"></span>
    </td>
    <td class="text-nowrap">
        {% if hit.meta.highlight.channel.0 %}
            {{ hit.meta.highlight.channel.0|safe }}
        {% else %}
            {{ hit.channel }}
        {% endif %}
    </td>
    <td class="text-nowrap">
{#        {{ hit.sent|date:"Y/m/d H:i" }}#}
        {{ hit.sent|date:"Y/m/d" }}
    </td>
    <td class="text-nowrap">
        {% if hit.meta.highlight.username.0 %}
            {{ hit.meta.highlight.username.0|safe }}
        {% else %}
            {{ hit.username }}
        {% endif %}
        {{ hit.username.keyword }}
    </td>
    <td>
        <span>
            {% if hit.meta.highlight.msg.0 %}
                {{ hit.meta.highlight.msg.0|safe }}
            {% else %}
                {{ hit.msg }}
            {% endif %}
        </span>
        <span style="display: none">{{ hit.meta.id }}</span>
        <div class="collapse js_popover_content">

        </div>
    </td>
    <td class="text-center text-nowrap js_score">
        {{ hit.meta.score|floatformat:1 }}
    </td>
{% endblock %}

{% block no_data %}
    <span class="">{% trans "No irc logs found" %}</span>
{% endblock %}
