{% extends "wally/base_results.html" %}
{% load i18n %}

{% comment %}Translators: Sender of email{% endcomment %}
{% trans "Sender" as sender %}
{% comment %}Translators: Receiver of email{% endcomment %}
{% trans "Receiver" as receiver %}
{% trans "Attachments" as attachments %}
{% block col_header %}
    <th></th>
    <th class="text-nowrap">{% trans "Subject" %}</th>
    <th class="text-nowrap">{% trans "Sent (JST)" %}</th>
    <th class="text-nowrap">{{ sender }}</th>
    <th class="text-nowrap">{{ receiver }}</th>
    <th class="text-nowrap">{% trans "Attachment?" %}</th>
    <th class="text-nowrap text-right">{% trans "Score" %}</th>
{% endblock %}

{% block col_data %}
    <td>
        <a href="https://co-conv.jp/go?INFO{{ hit.meta.id }}" target="_blank">
                        <span class="glyphicon glyphicon-eye-open"
                              title="{% trans "View mail content" %}"></span>
        </a>
    </td>
    <td>
                    <span>
                        {% if hit.meta.highlight.subject.0 %}
                            {{ hit.meta.highlight.subject.0|safe }}
                        {% else %}
                            {{ hit.subject }}
                        {% endif %}
                    </span>
        <span style="display: none">{{ hit.meta.id }}</span>
        <div class="collapse js_popover_content">
            {% if hit.meta.highlight.replyToEmail.0 %}
                <p class="fragment">
                    <b>{% trans "Hit in Reply-To Email/Name" %}:</b>
                    <span class="search-hit">{{ hit.meta.highlight.replyToEmail.0|safe }} {{ hit.meta.highlight.replyToName.0|safe }}</span>
                </p>
            {% endif %}

            {% if hit.meta.highlight.fromName.0 %}
                <p class="fragment">
                    <b>{% trans "Hit in sender name" %}:</b>
                    <span class="search-hit">{{ hit.meta.highlight.fromName.0|safe }}</span>
                </p>
            {% endif %}

            {% if hit.meta.highlight.toName.0 %}
                <p class="fragment">
                    <b>{% trans "Hit in receiver name" %}:</b> <span class="search-hit"> hit.meta.highlight.toName.0|safe }}</span>
                </p>
            {% endif %}

            {% if hit.meta.highlight.attachmentNames.0 %}
                <p class="fragment">
                    <b>{% trans "Hit in attachment names" %}:</b> <span
                        class="search-hit">{{ hit.meta.highlight.attachmentNames.0|safe }}</span>
                </p>
            {% endif %}

            {% if hit.meta.highlight.body %}
                <b>{% trans "Hits in body" %}:</b>
                {% for fragment in hit.meta.highlight.body %}
                    {% comment %}<p class="fragment">{% endcomment %}
                    <span class="search-hit">
                                                {{ fragment|safe }} {% comment %}|linebreaks{% endcomment %}
                                            </span>&nbsp;|&nbsp;
                    {% comment %}</p>{% endcomment %}
                {% endfor %}
            {% endif %}

            {% comment %}
                            <a href="https://co-conv.jp/go?INFO{{ hit.meta.id }}" target="_blank">{% trans "View mail content" %}</a>

                            <b>{% trans "Email content" %}:</b>
                            <div id="collapse{{ forloop.counter0 }}" class="panel-collapse "><!--collapse-->
                                <div class="panel-body">
                                    <div class="well">
                                        <p><b>{{ sender }}</b> {{ hit.fromName }} &lt;{{ hit.fromEmail }}&gt;
                                        </p>
                                        <p><b>{{ receiver }}</b> {{ hit.toName }} &lt;{{ hit.toEmail }}&gt;</p>
                                        {% if hit.attachmentNames %}
                                            <p><b>{{ attachments }}</b> {{ hit.attachmentNames }}</p>
                                        {% endif %}

                                        {{ hit.body|linebreaks|truncatechars:EMAIL_SHOW_MAX_CHARS }}
                                    </div>
                                </div>
                            </div>
                        {% endcomment %}
        </div>
    </td>
    <td class="text-nowrap">
        {{ hit.date|date:"Y/m/d H:i" }}
    </td>
    <td class="text-nowrap">
        {% if hit.meta.highlight.fromEmail.0 %}
            {{ hit.meta.highlight.fromEmail.0|safe }}
        {% else %}
            {{ hit.fromEmail }}
        {% endif %}
    </td>
    <td class="text-nowrap">
        {% if hit.meta.highlight.toEmail.0 %}
            {{ hit.meta.highlight.toEmail.0|safe }}
        {% else %}
            {{ hit.toEmail }}
        {% endif %}
    </td>
    <td class="text-nowrap text-center">
        {% if hit.hasAttachment %}
            <span class="glyphicon glyphicon-ok"></span>
        {% endif %}
    </td>
    <td class="text-center text-nowrap js_score">
        {{ hit.meta.score|floatformat:1 }}
    </td>
{% endblock %}

{% block no_data %}
    <span class="">{% trans "No emails found" %}</span>
{% endblock %}
