{% extends "wally/base_results.html" %}
{% load i18n %}
{% load results %}
{% load static %}

{% block col_header %}
    <th class="w_toggle_col"></th>
    <th class="text-nowrap">{% trans "Subject" %}</th>
    <th class="text-nowrap">{% trans "Sent (JST)" %}</th>
    <th class="text-nowrap">{% trans "Sender" %}</th>
    <th class="text-nowrap">{% trans "Receiver" %}</th>
    <th class="text-nowrap">{% trans "Attachment?" %}</th>
    <th class="text-nowrap text-right">{% trans "Score" %}</th>
{% endblock %}

{% block table_element %}
    <form id="js_updatesessionform" action="{% url 'wally:updatesession' %}" method="get">
        {% include 'common/dt_childtoggler.html' %}
    </form>
    <table class="table table-striped-custom" id="js_result_table">
{% endblock %}

{% block col_data %}
    <td class="details-control w_toggle_col">
        <span class="glyphicon glyphicon-plus"></span>
        <span class="glyphicon glyphicon-minus"></span>
    </td>
    <td>
        <span>
            <a href="https://example.net/go?INFO{{ hit.meta.id }}" title="{% trans "View mail content" %}"
               target="_blank">
                {% if hit.meta.highlight.subject.0 %}
                    {{ hit.meta.highlight.subject.0|strip_except_tags:"em" }}
                {% else %}
                    {{ hit.subject }}
                {% endif %}
            </a>
        </span>
        <span style="display: none">{{ hit.meta.id }}</span>
        <div class="collapse js_popover_content">
            <div class="mail_abstract_content">
                {% if hit.meta.highlight.replyToEmail.0 %}
                    <p class="fragment">
                        {% trans "Hit in Reply-To Email/Name" %}:
                        <span class="search-hit">{{ hit.meta.highlight.replyToEmail.0|strip_except_tags:"em" }} {{ hit.meta.highlight.replyToName.0|strip_except_tags:"em" }}</span>
                    </p>
                {% endif %}

                {% if hit.meta.highlight.fromName.0 %}
                    <p class="fragment">
                        {% trans "Hit in sender name" %}:
                        <span class="search-hit">{{ hit.meta.highlight.fromName.0|strip_except_tags:"em" }}</span>
                    </p>
                {% endif %}

                {% if hit.meta.highlight.toName.0 %}
                    <p class="fragment">
                        {% trans "Hit in receiver name" %}: <span class="search-hit">{{ hit.meta.highlight.toName.0|strip_except_tags:"em" }}</span>
                    </p>
                {% endif %}

                {% if hit.meta.highlight.attachmentNames.0 %}
                    <p class="fragment">
                        <b>{% trans "Hit in attachment names" %}:</b> <span
                            class="search-hit">{{ hit.meta.highlight.attachmentNames.0|strip_except_tags:"em" }}</span>
                    </p>
                {% endif %}

                {% if hit.meta.highlight.body %}
                    {% trans "Hits in body" %}:
                    {% for fragment in hit.meta.highlight.body %}
                        <span class="search-hit">
                            {{ fragment|strip_except_tags:"em" }}
                        </span>&nbsp;|&nbsp;
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </td>
    <td class="text-nowrap">
        {{ hit.date|date:"Y/m/d H:i" }}
    </td>
    <td class="text-nowrap">
        {% if hit.meta.highlight.fromEmail.0 %}
            {{ hit.meta.highlight.fromEmail.0|strip_except_tags:"em" }}
        {% else %}
            {{ hit.fromEmail }}
        {% endif %}
    </td>
    <td class="text-nowrap">
        {% if hit.meta.highlight.toEmail.0 %}
            {{ hit.meta.highlight.toEmail.0|strip_except_tags:"em" }}
        {% else %}
            {{ hit.toEmail }}
        {% endif %}
    </td>
    <td class="text-nowrap text-center">
        {% if hit.hasAttachment %}
            <span class="glyphicon glyphicon-ok"></span>
        {% endif %}
    </td>
    <td class="text-center text-nowrap js_score">
        {{ hit.meta.score|floatformat:1 }}
    </td>
{% endblock %}

{% block no_data %}
    <span class="">{% trans "No emails found" %}</span>
{% endblock %}

