{% extends "wally/base_search_form.html" %}
{% load i18n %}

{% block search_type %}
    <input type="hidden" name="search_type" id="search_type" value="email"/>
{% endblock %}
{% block search_form_checkboxes %}
    <div class="checkbox">
        <label>
            <input type="checkbox" name="include_spam"
                   id="include_spam"/> {% trans "search in spam as well" %}
        </label>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" name="only_attachment"
                   id="only_attachment"/> {% trans "only emails with attachments" %}
        </label>
    </div>
{% endblock %}

{% block search_form_sort_fields_options %}
    <option value="date" {% if sort_field == 'date' %} selected="selected"{% endif %}>{% trans "Sent (JST)" %}</option>
    <option value="_score" {% if sort_field == '_score' %} selected="selected"{% endif %}>{% trans "Score" %}</option>
    <option value="fromEmail.raw" {% if sort_field == 'fromEmail.raw' %}
            selected="selected"{% endif %}>{% trans "Sender" %}</option>
    <option value="toEmail.raw" {% if sort_field == 'toEmail.raw' %}
            selected="selected"{% endif %}>{% trans "Receiver" %}</option>
{% endblock %}
