#header .content {
    background: white url("img/wally100.png") no-repeat right bottom;
}

.js_hit {
    cursor: pointer;
}

.js_popover_content.popover-content {
    background: white;
    width: 500px;
}

/* ---Result table---*/
tr.shown + tr>td { border-top: none; }
.table-striped-custom tr.odd {  background-color: #f9f9f9; }
.table-striped-custom tr.even {  background-color: white; }
.table-striped-custom tr.shown.odd + tr {  background-color: #f9f9f9; }
.table-striped-custom tr.shown.even + tr { background-color: white; }

tr.group {
    background-color: rgba(0, 249, 16, 0.09);
}
.table>tbody>tr.group>td{
    height: 1.7em;
    font-size:0.9em;
    vertical-align: bottom;
}

td.details-control {
    cursor: pointer;
}
tr:not(.shown) td.details-control>span.glyphicon-minus { display:none; } /*Hide close*/
tr.shown td.details-control>span.glyphicon-plus { display:none; } /*Hide open*/

.search-hit{
    color:black;
    background-color: rgba(0, 249, 16, 0.09);
    -webkit-border-radius: .25em;
    -moz-border-radius: .25em;
    border-radius: .25em;
}

/*Requirement saita 10.01.2017*/
.w_toggle_col{
    display:none;
}

/*Requirement saita 19.01.2017*/
.mail_abstract_content{
    padding-left:20px;
}